#.vscode/
#config.yaml
#config.yml

#__pycache__/
#logs/
#abandoned/
#tags
#*.pyc

*
cogs/quak.py

!api/
!cogs/
!lang/
!__init__.py
!.gitignore
!config_template.yml
!design_spec.md
!LICENSE
!README.md
!rotom.py